<% provide(:title, 'Home')%>
<div class="center hero-unit">
  <h1>College Scooters Service Tracker</h1>
  <%= render '/layouts/retrieve_request'%>
</div>
<%= link_to image_tag("College Scooters Logo.jpg", alt: "College Scooters", size: "120x120"), 'http://www.collegescootersmd.com' %>
