<% provide(:title, 'Home')%>
<div class="center hero-unit">
  <h1>College Scooters Service Tracker</h1>

  <h2>
    Enter in your name and service request number you would like to look up.
  </h2>

  <%= link_to "Create new Service Request", new_request_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("College Scooters Logo.jpg", alt: "College Scooters", size: "120x120"), 'http://www.collegescootersmd.com' %>